.introduce {
  background-color:#fdc300;
}

.border {
  background-color: #fa8300;
  border-radius: 15px;
}
.border:hover {
  background-color: tomato;
}

.formm{
  width: 500px;
}

.button{
  width: 500px;
  margin-left:425px;
}

footer{
  height : 10vh;
  font-size: 1.2rem;
  font-weight: 400;
}